// variables
$veryDarkGray: hsl(0, 0%, 17%)
$darkGray: hsl(0, 0%, 59%)
$fontFamily: 'Rubik', sans-serif

// reset
*,
*::before,
*::after
  box-sizing: border-box
  margin: 0
  padding: 0

// main style
html
  font-family: $fontFamily

body
  color: $veryDarkGray

.main-header
  background-image: url('../../../images/pattern-bg.png')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  height: 300px

  @media screen and (min-width: 70rem)
    height: 280px

  .title
    font-size: 1.625rem
    line-height: 1.875rem
    letter-spacing: -0.23px

    @media screen and (min-width: 70rem)
      font-size: 2rem
      line-height: 1.875rem
      letter-spacing: -0.29px

  .search-ip-form
    width: 100%
    box-shadow: 0 50px 50px -25px rgba(0,0,0,0.1)

    @media screen and (min-width: 70rem)
      width: 34rem
      margin: auto

    .search-input
      font-size: 1.125rem
      height: 3.625rem
      width: calc(100% - 3.625rem)
      left: 0
      border-top-left-radius: 15px
      border-bottom-left-radius: 15px

      &:active,
      &:focus
        outline: none

    .submit-btn
      background: $veryDarkGray
      height: 3.625rem
      width: 3.625rem
      right: 0
      border: none
      border-top-right-radius: 15px
      border-bottom-right-radius: 15px
      cursor: pointer
      transition: all 500ms ease-in-out

      &:hover
        background: #3f3f3f

  .results-container
    padding: 1.5rem
    height: 294px
    width: calc(100% - 3rem)
    left: 1.5rem
    top: 50%
    border-radius: 15px
    z-index: 666
    box-shadow: 0 50px 50px -25px rgba(0,0,0,0.1)

    @media screen and (min-width: 70rem)
      width: 68rem
      max-width: 68rem
      height: 10rem
      left: calc((100% - 68rem) / 2)
      top: 70%
      padding: 2.5rem

    #spinner
      position: absolute
      border: 0.7rem solid $darkGray
      border-radius: 50%
      border-top: 0.8rem solid $veryDarkGray
      width: 7rem
      height: 7rem
      animation: spin 1500ms linear infinite

      @media screen and (min-width: 70rem)
        left: 45%

    @keyframes spin
      0%
        transform: rotate(0deg)
      100%
        transform: rotate(360deg)

    .result
      margin-bottom: 1rem

      @media screen and (min-width: 70rem)
        &:not(:last-of-type)
          &::after
            content: ''
            position: absolute
            width: 1px
            height: 75px
            background: $darkGray
            right: -40px
            top: 0

      .result-title
        color: $darkGray
        font-size: 0.625rem
        font-weight: 700
        letter-spacing: 1.46px
        margin-bottom: 0.25rem

        @media screen and (min-width: 70rem)
          font-size: 0.75rem
          letter-spacing: 1.75px

      .result-data
        color: $veryDarkGray
        font-size: 1.25rem
        line-height: 1.5rem
        letter-spacing: -0.18px
        font-weight: 500

        @media screen and (min-width: 70rem)
          font-size: 1.625rem
          line-height: 1.875rem
          letter-spacing: -0.23px

#ip-map
  height: calc(100vh - 300px)

  @media screen and (min-width: 70rem)
    height: calc(100vh - 280px)

  .leaflet-control-zoom
    display: none